%header_right_select {
    background: no-repeat;
    border: none;
    color: #d3cfcf;
    font-size: 11px;
    font-family: $fonts_jost;
    font-weight: map-get($fontweight, medium);
    outline: none;
    text-transform: capitalize;
    @include padding(left, 15px);
}
%header_right_option {
    background: $header_top_bg;
    border: #d3cfcf;
}
%btn {
    font-size: $para_font_size;
    font-family: $fonts_jost;
    font-weight: map-get($fontweight, medium);
    color: $theme_color;
    @include padding(top, 15px);
    @include padding(bottom, 15px);
    @include padding(left, 27px);
    @include padding(right, 27px);
    background: $primary_color;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.17);
}

%tab-title {
    font-family: $fonts_jost;
    font-weight: map-get($fontweight, medium);
    font-size: $para_font_size;
    color: $theme_color;
    text-transform: uppercase;
    display: inline-block;
    @include margin(bottom, 20px);
    position: relative;
    &::after {
        @include position(absolute, 50%, -30px);
        content: '';
        @include transfrom(translateY(-50%));
        @include after_wh(20px, 2px, $theme_color);
    }
    &::before {
        @include position_l(absolute, 50%, -30px);
        content: '';
        @include transfrom(translateY(-50%));
        @include after_wh(20px, 2px, $theme_color);
    }
}


