@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Jost:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
#main-header .header-top .header-right .lang select, #main-header .header-top .header-right .count select {
  background: no-repeat;
  border: none;
  color: #d3cfcf;
  font-size: 11px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  outline: none;
  text-transform: capitalize;
  padding-left: 15px;
}

#main-header .header-top .header-right .lang select option, #main-header .header-top .header-right .count select option {
  background: #202026;
  border: #d3cfcf;
}

#slider-part .single-slider .slider-content .slider-btn a, #offer-part .offer-iteam .single-offer .offet-text a, #offer-part .offer-iteam .offer-overlay .offet-overlay-text a, #reservation-part .overlay .reservation-wrapper .booking-form button {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #ff5400;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
  padding-right: 27px;
  background: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.17);
}

#restaurant-menu .restaurant-title h4, #restaurant-menu .tab-content .single-tab .tab-title h4 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ff5400;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

#restaurant-menu .restaurant-title h4::after, #restaurant-menu .tab-content .single-tab .tab-title h4::after {
  position: absolute;
  top: 50%;
  right: -30px;
  content: '';
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ff5400;
}

#restaurant-menu .restaurant-title h4::before, #restaurant-menu .tab-content .single-tab .tab-title h4::before {
  position: absolute;
  top: 50%;
  left: -30px;
  content: '';
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ff5400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282828;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.slick-slide:focus {
  outline: none !important;
}

#main-header .header-top {
  background: #202026;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 575.98px) {
  #main-header .header-top {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .header-top {
    display: none;
  }
}

#main-header .header-top .header-left ul li {
  display: inline-block;
  font-size: 11px;
  color: #d3cfcf;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

#main-header .header-top .header-left ul li:after {
  position: absolute;
  top: 7px;
  right: -3px;
  content: '';
  width: 1px;
  height: 11px;
  background: #636262;
}

#main-header .header-top .header-left ul li:last-child:after {
  opacity: 0;
}

#main-header .header-top .header-left ul li a {
  font-size: 11px;
  color: #d3cfcf;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

#main-header .header-top .header-right {
  display: flex;
  justify-content: flex-end;
}

#main-header .header-top .header-right .lang {
  position: relative;
}

#main-header .header-top .header-right .lang:after {
  position: absolute;
  top: 7px;
  right: -7px;
  content: '';
  width: 1px;
  height: 11px;
  background: #636262;
}

#main-header .header-top .header-right .count select {
  text-transform: uppercase;
}

#main-header .navbar {
  padding: 0;
  padding-top: 40px;
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar {
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar {
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar {
    padding-top: 30px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar #navbarToggle {
    text-align: center;
    background: #ffffff;
    padding: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar #navbarToggle {
    text-align: center;
    background: #ffffff;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar #navbarToggle {
    text-align: center;
    background: #ffffff;
    padding: 20px;
  }
}

#main-header .navbar .navbar-brand.d-none {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 999;
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar .navbar-brand.d-lg-none {
    width: 80px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar .navbar-brand.d-lg-none {
    width: 80px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar .navbar-brand.d-lg-none {
    width: 120px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar button {
    outline: none;
    font-size: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar button {
    outline: none;
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar button {
    outline: none;
    font-size: 30px;
  }
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar ul li {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar ul li {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar ul li {
    margin: 5px 0;
  }
}

#main-header .navbar ul li:hover a::after {
  width: 55px;
}

#main-header .navbar ul li a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #565656;
  text-transform: uppercase;
  padding: 0;
  padding-left: 8px;
  padding-right: 47px;
  position: relative;
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar ul li a {
    font-weight: 600;
  }
}

#main-header .navbar ul li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 0px;
  height: 1px;
  background: #ff5400;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@media only screen and (max-width: 575.98px) {
  #main-header .navbar ul li a::after {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .navbar ul li a::after {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .navbar ul li a::after {
    display: none;
  }
}

#main-header .navbar ul li .contact {
  padding-right: 35px;
}

#main-header .header-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 575.98px) {
  #main-header .header-cart {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #main-header .header-cart {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #main-header .header-cart {
    display: none;
  }
}

#main-header .header-cart a {
  font-size: 14px;
  color: #565656;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#main-header .header-cart a:hover {
  color: #ff5400;
}

#main-header .header-cart .user {
  padding-right: 14px;
  position: relative;
}

#main-header .header-cart .user:after {
  position: absolute;
  top: 8px;
  right: -3px;
  content: '';
  width: 1px;
  height: 11px;
  background: #b9b9bc;
}

#main-header .header-cart .lock {
  position: relative;
  margin-right: 10px;
}

#main-header .header-cart .lock span {
  font-size: 7.8px;
  font-weight: 900;
  color: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ff5400;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  position: absolute;
  top: -1px;
  right: -9px;
}

#slider-part {
  background: url(../images/banner/banner.png) no-repeat center;
  background-size: cover;
  margin-top: -46px;
}

@media only screen and (max-width: 575.98px) {
  #slider-part {
    margin-top: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #slider-part {
    margin-top: 0;
  }
}

@media only screen and (max-width: 575.98px) {
  #slider-part .slick-slide img {
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

#slider-part .single-slider {
  padding-top: 128px;
  padding-bottom: 153px;
}

@media only screen and (max-width: 575.98px) {
  #slider-part .single-slider {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part .single-slider {
    text-align: center;
  }
}

#slider-part .single-slider .slider-content .slider-text h3 {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  color: #282828;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 5px;
  position: relative;
}

#slider-part .single-slider .slider-content .slider-text h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 96px;
  height: 1px;
  background: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #slider-part .single-slider .slider-content .slider-text h3::after {
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part .single-slider .slider-content .slider-text h3::after {
    right: 0;
    margin: 0 auto;
  }
}

#slider-part .single-slider .slider-content .slider-text h1 {
  color: #282828;
  font-size: 80px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}

@media only screen and (max-width: 575.98px) {
  #slider-part .single-slider .slider-content .slider-text h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part .single-slider .slider-content .slider-text h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #slider-part .single-slider .slider-content .slider-text h1 {
    font-size: 40px;
  }
}

#slider-part .single-slider .slider-content .slider-text h2 {
  color: #282828;
  font-size: 70px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}

#slider-part .single-slider .slider-content .slider-text h2 span {
  color: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #slider-part .single-slider .slider-content .slider-text h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part .single-slider .slider-content .slider-text h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #slider-part .single-slider .slider-content .slider-text h2 {
    font-size: 55px;
  }
}

#slider-part .single-slider .slider-content .slider-text p {
  font-size: 15px;
  color: #282828;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 30px;
}

#slider-part .single-slider .slider-content .slider-btn a {
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#slider-part .single-slider .slider-content .slider-btn a:hover {
  background: #ff5400;
  color: #ffffff;
}

#slider-part .slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 14px;
  color: #989898;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffffff;
  text-align: center;
  z-index: 99;
  cursor: pointer;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#slider-part .slick-slider .slick-arrow:hover {
  color: #ffffff;
  background: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #slider-part .slick-slider .slick-arrow {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #slider-part .slick-slider .slick-arrow {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #slider-part .slick-slider .slick-arrow {
    right: 0;
  }
}

#slider-part .slick-slider .prev {
  right: auto;
  left: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #slider-part .slick-slider .prev {
    left: 0;
  }
}

#offer-part {
  margin-top: -25px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 575.98px) {
  #offer-part {
    padding-bottom: 20px;
  }
}

#offer-part .offer-iteam {
  position: relative;
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #offer-part .offer-iteam {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam {
    margin-bottom: 30px;
  }
}

#offer-part .offer-iteam:hover .offer-overlay {
  opacity: 1;
}

#offer-part .offer-iteam .single-offer {
  display: flex;
  align-items: center;
  background: #f6f5ed;
  padding-top: 40px;
  padding-left: 35px;
  padding-bottom: 40px;
  padding-right: 35px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .single-offer {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

#offer-part .offer-iteam .single-offer .offer-img {
  width: 50%;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .single-offer .offer-img {
    width: 30%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #offer-part .offer-iteam .single-offer .offer-img {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam .single-offer .offer-img {
    width: 40%;
  }
}

#offer-part .offer-iteam .single-offer .offet-text {
  width: 50%;
  padding-left: 25px;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .single-offer .offet-text {
    width: 70%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #offer-part .offer-iteam .single-offer .offet-text {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam .single-offer .offet-text {
    width: 60%;
  }
}

#offer-part .offer-iteam .single-offer .offet-text h4 {
  font-size: 12px;
  color: #ff5400;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 9px;
}

#offer-part .offer-iteam .single-offer .offet-text h3 {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
  width: 147px;
  text-transform: uppercase;
  color: #312620;
}

#offer-part .offer-iteam .single-offer .offet-text a {
  color: #5a5755;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#offer-part .offer-iteam .single-offer .offet-text a:hover {
  color: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .single-offer .offet-text a {
    padding: 10px 20px;
  }
}

#offer-part .offer-iteam .single-offer.pb {
  padding-bottom: 10px;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .single-offer.pb {
    padding-bottom: 20px;
  }
}

#offer-part .offer-iteam .offer-overlay {
  display: flex;
  align-items: center;
  background: #f6f5ed;
  padding-top: 40px;
  padding-left: 35px;
  padding-bottom: 40px;
  padding-right: 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: url(../images/offer/offer_bg.png) no-repeat center;
  background-size: cover;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .offer-overlay {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}

#offer-part .offer-iteam .offer-overlay .offer-img-hidden {
  width: 50%;
  padding: 30px;
  background: #f6f5ed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .offer-overlay .offer-img-hidden {
    width: 35%;
    padding: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #offer-part .offer-iteam .offer-overlay .offer-img-hidden {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam .offer-overlay .offer-img-hidden {
    width: 30%;
  }
}

#offer-part .offer-iteam .offer-overlay .offet-overlay-text {
  width: 50%;
  padding-left: 25px;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .offer-overlay .offet-overlay-text {
    width: 75%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #offer-part .offer-iteam .offer-overlay .offet-overlay-text {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam .offer-overlay .offet-overlay-text {
    width: 70%;
    padding-left: 95px;
  }
}

#offer-part .offer-iteam .offer-overlay .offet-overlay-text h4 {
  font-size: 12px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 9px;
}

#offer-part .offer-iteam .offer-overlay .offet-overlay-text h3 {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
  width: 147px;
  text-transform: uppercase;
  color: #ffffff;
}

#offer-part .offer-iteam .offer-overlay .offet-overlay-text a {
  color: #5a5755;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#offer-part .offer-iteam .offer-overlay .offet-overlay-text a:hover {
  color: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .offer-overlay .offet-overlay-text a {
    padding: 10px 20px;
  }
}

#offer-part .offer-iteam .offer-overlay.pb {
  padding-bottom: 10px;
}

@media only screen and (max-width: 575.98px) {
  #offer-part .offer-iteam .offer-overlay.pb {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #offer-part .offer-iteam .offer-overlay.pb {
    padding-bottom: 45px;
  }
}

#restaurant-menu {
  position: relative;
  padding-top: 120px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu {
    padding-top: 100px;
  }
}

#restaurant-menu .shape {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

#restaurant-menu .restaurant-title {
  text-align: center;
  border-bottom: 1px solid #e6e6e5;
}

#restaurant-menu .restaurant-title p {
  font-size: 30px;
  color: #312620;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 55px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .restaurant-title p {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
  }
}

#restaurant-menu .nav {
  justify-content: center;
  align-items: center;
}

#restaurant-menu .nav-tabs {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: none;
  text-align: center;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs {
    padding-top: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs {
    padding-top: 15px;
  }
}

#restaurant-menu .nav-tabs .nav-link {
  border: none;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 29px;
  padding-right: 29px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs .nav-link .menu-item img {
    width: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs .nav-link .menu-item img {
    width: 40px;
  }
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs .nav-link .menu-item {
    margin: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs .nav-link .menu-item {
    margin: 10px;
  }
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs .nav-link {
    padding: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs .nav-link {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #restaurant-menu .nav-tabs .nav-link {
    padding-top: 0;
    padding-bottom: 35px;
  }
}

#restaurant-menu .nav-tabs .nav-link p {
  color: #312620;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin-top: 30px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs .nav-link p {
    margin-top: 3px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs .nav-link p {
    margin-top: 3px;
    font-size: 12px;
  }
}

#restaurant-menu .nav-tabs .nav-link p span {
  font: 14px;
  color: #877e79;
  font-weight: 400;
}

#restaurant-menu .nav-tabs .nav-link .king {
  margin-top: 20px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .nav-tabs .nav-link .king {
    margin-top: 3px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .nav-tabs .nav-link .king {
    margin-top: 3px;
  }
}

#restaurant-menu .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border: none;
}

#restaurant-menu .nav-tabs .nav-link.active p {
  color: #ff5400;
}

#restaurant-menu .nav-tabs .nav-link.active p span {
  color: #877e79;
}

#restaurant-menu .tab-content .tab-img {
  background: url(../images/restuarent-menu/restuarent_06.png) no-repeat center;
  background-size: cover;
  padding-top: 115px;
  padding-bottom: 150px;
  text-align: right;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .tab-img {
    padding: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .tab-content .tab-img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#restaurant-menu .tab-content .single-tab {
  padding-top: 85px;
  padding-bottom: 36px;
  padding-left: 65px;
  background: url(../images/restuarent-menu/restuarent_10.png) no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .tab-content .single-tab {
    padding-top: 30px;
    padding-bottom: 1px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-title {
    text-align: center;
  }
}

#restaurant-menu .tab-content .single-tab .tab-title h4 {
  padding-left: 30px;
  margin-bottom: 10px;
}

#restaurant-menu .tab-content .single-tab .tab-title h4:before {
  left: 0px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-title h4:before {
    left: -30px;
  }
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-title h4 {
    padding-left: 0;
  }
}

#restaurant-menu .tab-content .single-tab .tab-title h2 {
  font-size: 34px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-title h2 {
    font-size: 26px;
    line-height: 1.2;
  }
}

#restaurant-menu .tab-content .single-tab .tab-list {
  margin-bottom: 50px;
  display: flex;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #restaurant-menu .tab-content .single-tab .tab-list {
    margin-bottom: 30px;
  }
}

#restaurant-menu .tab-content .single-tab .tab-list .tab-list-img {
  width: 21%;
}

#restaurant-menu .tab-content .single-tab .tab-list .tab-text {
  width: 79%;
  padding-left: 18px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-list .tab-text {
    padding-left: 9px;
  }
}

#restaurant-menu .tab-content .single-tab .tab-list .tab-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-list .tab-text h4 {
    margin-bottom: 5px;
  }
}

#restaurant-menu .tab-content .single-tab .tab-list .tab-text p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #414141;
  padding-right: 83px;
}

@media only screen and (max-width: 575.98px) {
  #restaurant-menu .tab-content .single-tab .tab-list .tab-text p {
    padding-right: 0;
  }
}

#product-part {
  padding-top: 90px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 575.98px) {
  #product-part {
    padding-top: 35px;
  }
}

#product-part .section-title {
  text-align: center;
  margin-bottom: 25px;
}

#product-part .section-title h3 {
  font-size: 20px;
  color: #312620;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

#product-part .section-title h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 90px;
  height: 1px;
  background: #dbdad8;
}

#product-part .product-tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 575.98px) {
  #product-part .product-tab-menu {
    margin-bottom: 30px;
  }
}

#product-part .product-tab-menu button {
  border: 0;
  cursor: pointer;
  background: none;
  padding: 10px 0 5px 0;
  margin: 10px 15px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: #312620;
  font-size: 13px;
}

@media only screen and (max-width: 575.98px) {
  #product-part .product-tab-menu button {
    margin: 0 5px;
  }
}

#product-part .product-tab-menu button:focus {
  outline: 0;
}

#product-part .product-tab-menu button.active {
  border-color: #333;
}

#product-part .adara-product-wrap {
  margin-bottom: 20px;
}

#product-part .adara-product-thumb {
  position: relative;
  background: #f6f5ee;
  padding: 20px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#product-part .adara-product-thumb span.product-discount-tag {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0px 10px;
  background: #ff5400;
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}

#product-part .adara-product-thumb:hover {
  box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.17);
}

#product-part .adara-product-content {
  padding: 20px;
}

#product-part .adara-product-content h3 a {
  font-size: 16px;
  color: #544842;
  font-weight: 600;
  margin-bottom: 15px;
}

#product-part .adara-product-content h3 {
  font-size: 14px;
  color: #544842;
  font-weight: 600;
  margin-bottom: 5px;
}

#product-part .adara-product-content .product-star-rating i {
  font-size: 10px;
  color: #a4a1a0;
}

#reservation-part {
  background: url(../images/booking/booking-bg.png) no-repeat center;
  background-size: cover;
}

#reservation-part .overlay {
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 38, 0.5);
  padding: 80px 0;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay {
    padding: 40px 0;
  }
}

#reservation-part .overlay .reservation-wrapper {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 45px 148px 60px;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper {
    padding: 10px;
  }
}

#reservation-part .overlay .reservation-wrapper .reservation-img {
  margin-bottom: 10px;
}

#reservation-part .overlay .reservation-wrapper .reservation-title {
  position: relative;
}

#reservation-part .overlay .reservation-wrapper .reservation-title h2 {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title h2 {
    font-size: 40px;
  }
}

#reservation-part .overlay .reservation-wrapper .reservation-title h2 span {
  color: #ff5400;
}

#reservation-part .overlay .reservation-wrapper .reservation-title .sign {
  text-align: right;
  color: #ff5400;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  position: absolute;
  bottom: -16px;
  left: auto;
  right: 120px;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title .sign {
    bottom: -18px;
    font-size: 30px;
    right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title .sign {
    bottom: -18px;
    font-size: 30px;
    right: 110px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper .reservation-title .sign {
    font-size: 30px;
    right: 190px;
  }
}

#reservation-part .overlay .reservation-wrapper .contact-address {
  background: rgba(28, 26, 28, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

#reservation-part .overlay .reservation-wrapper .contact-address p {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
  width: 330px;
  margin: 0 auto;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .contact-address p {
    width: auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .contact-address p {
    width: auto;
  }
}

#reservation-part .overlay .reservation-wrapper .contact-address p span {
  color: #ff5400;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper {
  display: flex;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper {
    flex-direction: column;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper {
    flex-direction: column;
  }
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w {
  width: 190px;
  position: relative;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w {
    width: 211px;
  }
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ff5400;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .form-w i::after {
  position: absolute;
  top: -7px;
  right: -18px;
  content: '';
  width: 2px;
  height: 31px;
  background: #535251;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input {
  background: rgba(28, 26, 28, 0.5);
  border: 1px solid #413b39;
  font-size: 12px;
  font-weight: 500;
  padding: 15px 0 15px 65px;
  color: #dfdbdb;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input {
    width: 100%;
  }
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input::placeholder {
  color: #dfdbdb;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper input:focus {
  outline: none;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper select {
  width: 190px;
  background: rgba(28, 26, 28, 0.5);
  border: 1px solid #413b39;
  font-size: 12px;
  font-weight: 500;
  padding: 15px 0 15px 65px;
  color: #dfdbdb;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper select {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper select {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper select {
    width: 100%;
  }
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper select:focus {
  outline: none;
}

#reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .time {
  margin: 0 27px;
}

@media only screen and (max-width: 575.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .time {
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #reservation-part .overlay .reservation-wrapper .booking-form .form-wrapper .time {
    margin: 0;
  }
}

#reservation-part .overlay .reservation-wrapper .booking-form button {
  background: #ff5400;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#reservation-part .overlay .reservation-wrapper .booking-form button:hover {
  background: #ffffff;
  color: #ff5400;
}

#blog-part {
  padding-top: 75px;
  padding-bottom: 90px;
}

@media only screen and (max-width: 575.98px) {
  #blog-part {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #blog-part {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

#blog-part .section-title {
  text-align: center;
  margin-bottom: 50px;
}

#blog-part .section-title h3 {
  font-size: 20px;
  color: #312620;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}

#blog-part .section-title h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 90px;
  height: 1px;
  background: #dbdad8;
}

#blog-part .single-blog {
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@media only screen and (max-width: 575.98px) {
  #blog-part .single-blog {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #blog-part .single-blog {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #blog-part .single-blog {
    margin-bottom: 30px;
  }
}

#blog-part .single-blog:hover {
  box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.17);
}

#blog-part .single-blog:hover .read-more {
  color: #ff5400;
}

@media only screen and (max-width: 575.98px) {
  #blog-part .single-blog .blog-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #blog-part .single-blog .blog-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #blog-part .single-blog .blog-img img {
    width: 100%;
  }
}

#blog-part .single-blog .blog-content {
  padding: 30px 24px 35px;
  background: #f6f5ee;
  text-align: center;
}

#blog-part .single-blog .blog-content .blog-title {
  margin-bottom: 20PX;
}

#blog-part .single-blog .blog-content .blog-title h3 a {
  font-size: 24px;
  color: #323232;
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575.98px) {
  #blog-part .single-blog .blog-content .blog-title h3 a {
    font-size: 19px;
  }
}

#blog-part .single-blog .blog-content .blog-title .user-date {
  display: flex;
  justify-content: center;
}

#blog-part .single-blog .blog-content .blog-title .user-date p {
  font-size: 12px;
  color: #868585;
  margin: 0 20px;
  position: relative;
}

#blog-part .single-blog .blog-content .blog-title .user-date p::after {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  content: '';
  width: 2px;
  height: 13px;
  background: #e3e2e0;
}

#blog-part .single-blog .blog-content .blog-title .user-date p i {
  font-size: 10px;
  color: #ff5400;
  margin-right: 5px;
}

#blog-part .single-blog .blog-content .blog-title .user-date .date::after {
  display: none;
}

#blog-part .single-blog .blog-content .blog-title .user-date .date i {
  color: #868585;
}

#blog-part .single-blog .blog-content .blog-text {
  margin-bottom: 30px;
}

@media only screen and (max-width: 575.98px) {
  #blog-part .single-blog .blog-content .blog-text {
    margin-bottom: 10px;
  }
}

#blog-part .single-blog .blog-content .blog-text p {
  color: #414141;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#blog-part .single-blog .blog-content .read-more {
  position: relative;
}

#blog-part .single-blog .blog-content .read-more::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  right: 0;
  margin: 0 auto;
  width: 150px;
  height: 1px;
  background: #dbdad8;
}

#blog-part .single-blog .blog-content .read-more a {
  font-size: 12px;
  color: #323232;
  font-weight: 500;
  text-transform: uppercase;
}

#footer {
  background: #262626;
  padding-top: 55px;
  padding-bottom: 65px;
}

#footer .footer-logo {
  text-align: center;
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: 45px;
  margin-bottom: 40px;
  position: relative;
}

#footer .footer-logo::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  right: 0;
  margin: 0 auto;
  width: 150px;
  height: 1px;
  background: #ff5400;
}

#footer .footer-menu {
  margin-bottom: 40px;
}

@media only screen and (max-width: 575.98px) {
  #footer .footer-menu {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #footer .footer-menu {
    margin-bottom: 30px;
    text-align: center;
  }
}

#footer .footer-menu nav ul li {
  display: inline-block;
  margin-right: 35px;
}

@media only screen and (max-width: 575.98px) {
  #footer .footer-menu nav ul li {
    padding: 5px 10px;
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #footer .footer-menu nav ul li {
    padding: 5px 22px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #footer .footer-menu nav ul li {
    margin-right: 18px;
  }
}

#footer .footer-menu nav ul li:hover a {
  color: #ff5400;
}

#footer .footer-menu nav ul li a {
  font-size: 13px;
  color: #898481;
  text-transform: uppercase;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#footer .copyright p {
  color: #898481;
  font-size: 13px;
  text-transform: uppercase;
}

@media only screen and (max-width: 575.98px) {
  #footer .copyright p {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #footer .copyright p {
    text-align: center;
    margin-bottom: 20px;
  }
}

#footer .copyright p span {
  color: #ff5400;
}

#footer .footer-icon {
  text-align: right;
  margin-bottom: 45px;
}

@media only screen and (max-width: 575.98px) {
  #footer .footer-icon {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #footer .footer-icon {
    text-align: center;
    margin-bottom: 20px;
  }
}

#footer .footer-icon a {
  font-size: 13px;
  color: #898481;
  margin-left: 15px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

#footer .footer-icon a:hover {
  color: #ff5400;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #footer .footer-icon a {
    margin-left: 13px;
  }
}

#footer .bank {
  text-align: right;
}

@media only screen and (max-width: 575.98px) {
  #footer .bank {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #footer .bank {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */